.game{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.tree{
    position: relative;
    z-index: 0;
}

.tree img{
    height: 60vh;
}

.right-side{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    z-index: 2;
}
.title img {
    height: 150px;
    
}
.game-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.alphabets{
    display: inline;
    margin: 0px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.alphabets button{
    border: none;
    font-size: x-large;
    background-color: transparent;
    margin: 10px 20px;
}
.answer{
    letter-spacing: 10px;
    font-size: xx-large;
}
.hint{
    font-size: larger;
    text-align: center;
}

@media (max-width: 1050px) {
    .left-side{
        position: absolute;
    }
    .alphabets{
        margin: 0px 50px;
    }
    .alphabets button{
        font-size:larger;
        margin: 5px 15px;
    }
    .game-content{
        justify-content: center;
        height: 100%;
    }
    .tree img{
        height: 50vh;
    }
}
@media (max-width: 750px){
    .alphabets{
        margin: 0px 15px;
    }
    .alphabets button{
        font-size: medium;
        margin: 3px 10px;
    }
}