.game{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.tree{
    position: relative;
}

.tree img{
    height: 60vh;
}

.right-side{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title img {
    height: 150px;
}
.game-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.alphabets{
    display: inline;
    margin: 0px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.alphabets button{
    border: none;
    font-size: x-large;
    background-color: transparent;
    margin: 10px 20px;
}
.answer{
    letter-spacing: 10px;
    font-size: xx-large;
}
.hint{
    font-size: larger;
}